@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");

$font-stack-main: "Clicker Script", cursive;
$font-stack-side: "Source Sans Pro", sans-serif;
$text-active: rgba(255, 255, 255, 1);
$text-active-less: rgba(255, 255, 255, 0.75);
$text-not-active: rgba(255, 255, 255, 0.5);
$light-black: #7f7f7f;
$main-color: #ff847c;
$main-color-hover: #ffa8a0;
$sub-color: #393e46;
$transition-standard: all 0.3s ease-in-out 0s;
@mixin background($img) {
  background: url($img) rgba(0, 0, 0, 0.4) no-repeat fixed center/cover;
  background-blend-mode: multiply;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-img {
  max-width: 220px;
  max-height: 220px;

  img {
    width: 100%;
    height: auto;
  }
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  &::-webkit-scrollbar {
    width: 0;
  }
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#header {
  height: 20vh;
  padding-left: 60px;
  padding-right: 60px;
  &::after {
    content: "";
    clear: both;
    display: table;
  }

  nav {
    .logo {
      float: left;
      margin-top: 20px;
      a {
        color: $main-color;
        font-weight: bold;
        font-size: 60px;
        font-family: $font-stack-main;
        transition: $transition-standard;
      }

      &:hover {
        a {
          font-size: 62px;
        }
      }
    }

    .menu {
      float: right;
      padding-left: 15px;
      padding-right: 50px;
      margin-top: 25px;

      li {
        display: inline-block;
        padding: 25px 15px;
        position: relative;

        a {
          font-weight: bold;
          font-size: 20px;
          color: $main-color;
          font-family: $font-stack-side;
          transition: $transition-standard;

          &::after {
            content: "";
            width: calc(100% - 30px);
            position: absolute;
            background-color: $main-color;
            height: 2px;
            bottom: 22px;
            left: 15px;
            right: 15px;
            visibility: hidden;
            transform: scaleX(0);
            transition: $transition-standard;
          }

          &:hover {
            &::after {
              visibility: visible;
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }

  #chk {
    display: none;
    transition: $transition-standard;
    cursor: pointer;
  }
}

@media only screen and (max-width: 1100px) {
  #header {
    height: 80px;
    .container {
      .logo {
        margin-top: 15px;
        margin-left: -60px;
        a {
          font-size: 40px;
        }
      }

      #chk {
        display: block;
        position: absolute;
        z-index: 11;
        top: 30px;
        right: 35px;
        i {
          transition: $transition-standard;
          color: $main-color;
          font-size: 30px;
        }
      }

      .menu {
        z-index: 10;
        padding: 80px 0;
        position: fixed;
        width: 100%;
        height: 150vh;
        background: $text-active;
        right: 0;
        top: -200vh;
        display: flex;
        text-align: center;
        line-height: normal;
        transition: $transition-standard;
        display: block;

        li {
          display: block;
        }
      }
    }
  }
}

#preview {
  @include background("./assets/img/header-bg.jpg");
  position: relative;
  height: 100vh;

  .hero {
    width: 100%;
    padding-top: 50px;

    #hero-img {
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-weight: 600;
      font-size: 80px;
      color: #fff;
      font-family: $font-stack-main;
    }

    h2,
    h3 {
      font-weight: 600;
      letter-spacing: 10px;
      font-size: 40px;
      color: #eee;
      font-family: $font-stack-side;
    }
  }
}

@media only screen and (max-width: 650px) {
  #preview {
    .hero {
      h1 {
        font-size: 60px;
      }

      h2,
      h3 {
        font-size: 20px;
      }
    }
  }
}

#introduce {
  .introduce-head {
    .hero-img {
      margin: 50px auto;
    }
    h1 {
      font-family: $font-stack-main;
      color: $main-color;
      font-weight: 400;
      font-size: 50px;
      line-height: 1.5;
      padding-top: 20px;
      padding-bottom: 20px;
      margin-bottom: 30px;
    }

    p {
      color: $light-black;
      font-weight: 400;
      font-family: $font-stack-side;
      line-height: 1.8;
      font-size: 18px;
      margin: 30px;
    }
  }

  .introduce-body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: calc(100% * 8 / 12);

    .flex-column {
      width: calc(100% * 5 / 12);
      border-radius: 10px;
      margin: 30px auto;
      padding: 30px 50px;

      img {
        height: 220px;
        width: 220px;
        border-radius: 50%;
      }

      .introduce-content {
        padding: 50px;
        color: $main-color;
        h1 {
          font-family: $font-stack-main;
          font-weight: 500;
          font-size: 40px;
          white-space: nowrap;
          margin: 20px auto 10px auto;
        }

        span {
          font-size: 15px;
          letter-spacing: 10px;
          text-transform: uppercase;
          border: 1px solid $main-color;
          padding: 2px 5px;
        }
      }
    }

    h2 {
      width: calc(100% * 2 / 12);
      text-align: center;
      padding-left: 30px;
      padding-right: 30px;
      img {
        width: 95px;
        height: 95px;
        border-radius: 50%;
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #introduce {
    .introduce-body {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      margin-top: 50px;

      .flex-column {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        padding: 15px 30px;

        img {
          max-width: 100%;
          max-height: 180px;
        }
        .introduce-content {
          margin: 5px auto;
          padding: 5px;
          text-align: center;
        }
      }

      h2 {
        width: 100%;
        img {
          width: 80%;
        }
      }
    }
  }
}

#count-down {
  @include background("./assets/img/count-down-bg.jpg");
  .container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    .count-down-text {
      h1 {
        font-family: $font-stack-main;
        color: $text-active;
        font-weight: 400;
        font-size: 80px;
        padding-top: 20px;
        padding-bottom: 20px;
      }

      h3 {
        font-family: $font-stack-side;
        color: $text-active-less;
        font-size: 30px;
        padding-bottom: 20px;
      }
    }

    #count-down-clock {
      width: calc(100% * 8 / 12);
      font-family: $font-stack-main;
      color: $text-active;
      font-size: 80px;
      margin: 30px auto;
      display: flex;
      justify-content: center;
      align-items: center;

      span {
        display: inline-block;
        margin: 0 30px;
        small {
          display: block;
          font-family: $font-stack-side;
          letter-spacing: 10px;
          text-transform: uppercase;
          font-size: 15px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #count-down {
    width: 100%;
    .container {
      .count-down-text {
        h1 {
          font-size: 60px;
        }

        h3 {
          font-size: 20px;
        }
      }

      #count-down-clock {
        flex-direction: column;
        span {
          font-size: 60px;
          small {
            font-size: 15px;
          }
        }
      }
    }
  }
}

#groom-bride {
  .gb-intro {
    margin-top: 50px;
    img {
      margin-top: 100px;
      width: 200px;
      height: 200px;
    }
    h1 {
      font-family: $font-stack-main;
      color: $main-color;
      padding: 20px 10px;
      font-weight: 400;
      font-size: 80px;
    }
    p {
      color: $light-black;
      font-weight: 600;
      font-family: $font-stack-side;
      line-height: 1.8;
      font-size: 18px;
      margin: 30px 20px 50px 20px;
    }
  }

  .bg-main {
    width: 100%;
    margin-top: 100px;
    padding: 80px 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    .bg-card {
      width: calc(100% * 4 / 12);
      border-radius: 3px;
      box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
      margin: 10px 60px;
      position: relative;

      .bg-card-img {
        position: absolute;
        top: 30px;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        img {
          width: 200px;
          height: 200px;
          border-radius: 50%;
          border: 4px solid $text-active;
        }
      }

      .bg-card-content {
        height: 100%;
        width: 100%;
        padding: 80px 30px 20px 30px;

        h1 {
          font-family: $font-stack-main;
          color: $main-color;
          padding: 60px 10px 20px 10px;
          font-weight: 400;
          font-size: 40px;
        }

        p {
          color: $main-color;
          font-weight: 400;
          font-family: $font-stack-side;
          line-height: 1.8;
          font-size: 20px;
          margin: 30px;
        }

        .bg-social {
          display: inline-block;
          width: 100%;
          margin-bottom: 10px;
          a {
            display: inline-block;
            margin: 0 5px;
            transition: $transition-standard;
            text-align: center;
            margin: 0 10px;
            font-size: 30px;
            i {
              color: $main-color;
            }
            &:hover {
              i {
                color: $main-color-hover;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #groom-bride {
    .bg-main {
      flex-direction: column;
      .bg-card {
        width: 100%;
        margin: 50px auto;

        .bg-card-img {
          img {
            width: 180px;
            height: 180px;
          }
        }

        .bg-card-content {
          h1 {
            font-size: 30px;
          }

          p {
            margin-left: 0;
            margin-right: 0;
            line-height: 1.6;
            font-size: 18px;
          }

          .bg-social {
            a {
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

#greetings {
  @include background("./assets/img/greeting-bg.jpg");
  .grt-intro {
    padding-top: 200px;
    h1 {
      font-family: $font-stack-main;
      font-weight: 400;
      font-size: 80px;
      line-height: 1.8;
      color: $text-active;
    }
  }

  .grt-main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 200px;
    .grt {
      width: calc(100% * 4 / 12);
      margin: 10px 20px 40px 20px;
      blockquote {
        position: relative;
        background-color: $text-active;
        padding: 40px;
        border-radius: 4px;
        font-size: 18px;
        p {
          font-style: italic;
          font-family: $font-stack-side;
          color: $light-black;
        }
        &::after {
          content: "";
          position: absolute;
          top: 100%;
          left: 40px;
          border-top: 15px solid black;
          border-top-color: #fff;
          border-left: 15px solid transparent;
          border-right: 15px solid transparent;
        }
      }

      span {
        display: block;
        color: $text-active;
        font-size: 20px;
        margin-top: 30px;
        margin-right: calc(100% * 8 / 12);
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #greetings {
    .grt-intro {
      padding-top: 200px;
      h1 {
        font-size: 30px;
        line-height: 1.4;
      }
    }
    .grt-main {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      .grt {
        width: 100%;
        margin: 10px 10px 40px 10px;
        blockquote {
          width: 100%;
          padding: 20px;
          font-size: 18px;
        }
        span {
          display: block;
          padding-right: calc(100% * 8 / 12);
          width: 100%;
        }
      }
    }
  }
}

#people {
  display: flex;
  justify-content: space-around;
  align-items: center;
  .people-info {
    width: calc(100% * 5 / 12);
    height: 200px;
    padding: 50px;
    text-align: center;

    h1 {
      font-family: $font-stack-main;
      color: $main-color;
      font-weight: 400;
      font-size: 75px;
    }
    img {
      max-width: 100px;
      max-height: 100px;
    }
  }
}

@media only screen and (max-width: 650px) {
  #people {
    flex-direction: column;
    text-align: center;

    .people-info {
      h1 {
        font-size: 50px;
      }
      width: 100%;
      margin: 50px auto;
    }
  }
}

#location {
  width: 100%;
  margin-top: 50px;
  .location-intro {
    h1 {
      font-family: $font-stack-main;
      color: $main-color;
      font-weight: 400;
      font-size: 80px;
    }
  }

  .location-main {
    padding: 10px 50px;
    @include background("./assets/img/location-img.jpg");
    width: calc(100% * 8 / 12);
    margin: 20px auto;

    .location-main-content {
      width: 100%;
      border-radius: 4px;
      color: $text-active;
      padding: 5px 10px;

      p {
        font-family: $font-stack-main;
        padding: 0 20px;
        font-size: 30px;
        line-height: 1.5;
        font-weight: 300;
        font-style: italic;
      }

      .time {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $font-stack-side;
        font-weight: 400;
        font-size: 20px;
        margin: 20px auto;
        text-align: center;

        .date {
          width: calc(100% * 5 / 12);
          padding: 40px 60px;
          font-weight: 400;
          margin: 20px auto;
          font-size: 25px;

          span {
            text-align: center;
            display: block;
          }
        }

        .heart {
          width: calc(100% * 2 / 12);
          font-size: 60px;
        }
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  #location {
    .location-intro {
      h1 {
        font-size: 60px;
      }
    }

    .location-main {
      padding: 10px 0;
      width: 100%;

      .location-main-content {
        padding: 0;
        p {
          padding: 0;
          font-size: 25px;
        }

        .time {
          .date {
            padding: 0;
            font-size: 18px;
          }

          .heart {
            font-size: 30px;
          }
        }
      }
    }
  }
}

// MODAL

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 50%;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  position: absolute;
  top: -10px;
  right: 10px;
  color: white;
  float: right;
  font-size: 60px;
  font-weight: bold;
  transition: $transition-standard;
}

.close:hover,
.close:focus {
  color: $text-active-less;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px;
  background-color: $main-color;
  color: $text-active;
  font-family: $font-stack-main;
  text-align: center;
  h2 {
    font-size: 60px;
  }
}

.modal-body {
  form {
    height: 300px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include background("./assets/img/inv-bg.jpg");
    background-attachment: "initial";
    font-family: $font-stack-side;

    .form__input {
      background: rgba(255, 255, 255, 0.1);
      color: $text-active;
      font-size: 16px;
      padding: 20px 10px;
      border: none;
      width: 80%;

      &::placeholder {
        color: $text-active;
      }

      &:focus {
        outline-width: 0;
        border: 2px solid $main-color;
        background: rgba(255, 255, 255, 0.2);
      }
    }

    // .submit-btn {
    //   background-color: $main-color;
    //   color: $text-active;
    //   border: none;
    //   padding: 20px 40px;
    //   outline-width: 0;
    // }
  }
}

#invite {
  background-color: $main-color;
  color: $text-active;
  font-family: $font-stack-side;
  border: none;
  padding: 20px 40px;
  font-size: 30px;
  display: block;
  margin: 10px auto;
  outline-width: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media only screen and (max-width: 650px) {
  .close {
    top: -5px;
    font-size: 40px;
  }

  .modal-header {
    h2 {
      margin: 30px 10px 10px;
      font-size: 30px;
    }
  }
}

footer {
  font-family: $font-stack-side;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  p {
    color: $light-black;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    span,
    a {
      color: $main-color;
    }
  }
  .social {
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 10px;

    a {
      display: inline-block;
      margin: 0 5px;
      transition: $transition-standard;
      text-align: center;
      margin: 0 10px;
      i {
        color: $main-color;
      }
      &:hover {
        i {
          color: $main-color-hover;
        }
      }
    }
  }
}

#btnToTop {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: $main-color;
  color: $text-not-active;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: $transition-standard;
}

#btnToTop:hover {
  color: $text-active;
  background-color: $main-color-hover;
}

.slide-in {
  opacity: 0;
  transition: $transition-standard;
  transform: translateY(60%) scale(0.95);
  transition-duration: 1s;
}

.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.fade-in {
  animation: fadeIn ease-in-out 1s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
