@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex-column {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-img {
  max-width: 220px;
  max-height: 220px;
}
.hero-img img {
  width: 100%;
  height: auto;
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
html::-webkit-scrollbar {
  width: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}

#header {
  height: 20vh;
  padding-left: 60px;
  padding-right: 60px;
}
#header::after {
  content: "";
  clear: both;
  display: table;
}
#header nav .logo {
  float: left;
  margin-top: 20px;
}
#header nav .logo a {
  color: #ff847c;
  font-weight: bold;
  font-size: 60px;
  font-family: "Clicker Script", cursive;
  transition: all 0.3s ease-in-out 0s;
}
#header nav .logo:hover a {
  font-size: 62px;
}
#header nav .menu {
  float: right;
  padding-left: 15px;
  padding-right: 50px;
  margin-top: 25px;
}
#header nav .menu li {
  display: inline-block;
  padding: 25px 15px;
  position: relative;
}
#header nav .menu li a {
  font-weight: bold;
  font-size: 20px;
  color: #ff847c;
  font-family: "Source Sans Pro", sans-serif;
  transition: all 0.3s ease-in-out 0s;
}
#header nav .menu li a::after {
  content: "";
  width: calc(100% - 30px);
  position: absolute;
  background-color: #ff847c;
  height: 2px;
  bottom: 22px;
  left: 15px;
  right: 15px;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}
#header nav .menu li a:hover::after {
  visibility: visible;
  transform: scaleX(1);
}
#header #chk {
  display: none;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
}

@media only screen and (max-width: 1100px) {
  #header {
    height: 80px;
  }
  #header .container .logo {
    margin-top: 15px;
    margin-left: -60px;
  }
  #header .container .logo a {
    font-size: 40px;
  }
  #header .container #chk {
    display: block;
    position: absolute;
    z-index: 11;
    top: 30px;
    right: 35px;
  }
  #header .container #chk i {
    transition: all 0.3s ease-in-out 0s;
    color: #ff847c;
    font-size: 30px;
  }
  #header .container .menu {
    z-index: 10;
    padding: 80px 0;
    position: fixed;
    width: 100%;
    height: 150vh;
    background: white;
    right: 0;
    top: -200vh;
    display: flex;
    text-align: center;
    line-height: normal;
    transition: all 0.3s ease-in-out 0s;
    display: block;
  }
  #header .container .menu li {
    display: block;
  }
}
#preview {
  background: url("./assets/img/header-bg.jpg") rgba(0, 0, 0, 0.4) no-repeat fixed center/cover;
  background-blend-mode: multiply;
  position: relative;
  height: 100vh;
}
#preview .hero {
  width: 100%;
  padding-top: 50px;
}
#preview .hero #hero-img {
  margin-left: auto;
  margin-right: auto;
}
#preview .hero h1 {
  font-weight: 600;
  font-size: 80px;
  color: #fff;
  font-family: "Clicker Script", cursive;
}
#preview .hero h2,
#preview .hero h3 {
  font-weight: 600;
  letter-spacing: 10px;
  font-size: 40px;
  color: #eee;
  font-family: "Source Sans Pro", sans-serif;
}

@media only screen and (max-width: 650px) {
  #preview .hero h1 {
    font-size: 60px;
  }
  #preview .hero h2,
#preview .hero h3 {
    font-size: 20px;
  }
}
#introduce .introduce-head .hero-img {
  margin: 50px auto;
}
#introduce .introduce-head h1 {
  font-family: "Clicker Script", cursive;
  color: #ff847c;
  font-weight: 400;
  font-size: 50px;
  line-height: 1.5;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
#introduce .introduce-head p {
  color: #7f7f7f;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.8;
  font-size: 18px;
  margin: 30px;
}
#introduce .introduce-body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  width: calc(100% * 8 / 12);
}
#introduce .introduce-body .flex-column {
  width: calc(100% * 5 / 12);
  border-radius: 10px;
  margin: 30px auto;
  padding: 30px 50px;
}
#introduce .introduce-body .flex-column img {
  height: 220px;
  width: 220px;
  border-radius: 50%;
}
#introduce .introduce-body .flex-column .introduce-content {
  padding: 50px;
  color: #ff847c;
}
#introduce .introduce-body .flex-column .introduce-content h1 {
  font-family: "Clicker Script", cursive;
  font-weight: 500;
  font-size: 40px;
  white-space: nowrap;
  margin: 20px auto 10px auto;
}
#introduce .introduce-body .flex-column .introduce-content span {
  font-size: 15px;
  letter-spacing: 10px;
  text-transform: uppercase;
  border: 1px solid #ff847c;
  padding: 2px 5px;
}
#introduce .introduce-body h2 {
  width: calc(100% * 2 / 12);
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
}
#introduce .introduce-body h2 img {
  width: 95px;
  height: 95px;
  border-radius: 50%;
}

@media only screen and (max-width: 650px) {
  #introduce .introduce-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
  }
  #introduce .introduce-body .flex-column {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 15px 30px;
  }
  #introduce .introduce-body .flex-column img {
    max-width: 100%;
    max-height: 180px;
  }
  #introduce .introduce-body .flex-column .introduce-content {
    margin: 5px auto;
    padding: 5px;
    text-align: center;
  }
  #introduce .introduce-body h2 {
    width: 100%;
  }
  #introduce .introduce-body h2 img {
    width: 80%;
  }
}
#count-down {
  background: url("./assets/img/count-down-bg.jpg") rgba(0, 0, 0, 0.4) no-repeat fixed center/cover;
  background-blend-mode: multiply;
}
#count-down .container {
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
#count-down .container .count-down-text h1 {
  font-family: "Clicker Script", cursive;
  color: white;
  font-weight: 400;
  font-size: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}
#count-down .container .count-down-text h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: rgba(255, 255, 255, 0.75);
  font-size: 30px;
  padding-bottom: 20px;
}
#count-down .container #count-down-clock {
  width: calc(100% * 8 / 12);
  font-family: "Clicker Script", cursive;
  color: white;
  font-size: 80px;
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
#count-down .container #count-down-clock span {
  display: inline-block;
  margin: 0 30px;
}
#count-down .container #count-down-clock span small {
  display: block;
  font-family: "Source Sans Pro", sans-serif;
  letter-spacing: 10px;
  text-transform: uppercase;
  font-size: 15px;
}

@media only screen and (max-width: 650px) {
  #count-down {
    width: 100%;
  }
  #count-down .container .count-down-text h1 {
    font-size: 60px;
  }
  #count-down .container .count-down-text h3 {
    font-size: 20px;
  }
  #count-down .container #count-down-clock {
    flex-direction: column;
  }
  #count-down .container #count-down-clock span {
    font-size: 60px;
  }
  #count-down .container #count-down-clock span small {
    font-size: 15px;
  }
}
#groom-bride .gb-intro {
  margin-top: 50px;
}
#groom-bride .gb-intro img {
  margin-top: 100px;
  width: 200px;
  height: 200px;
}
#groom-bride .gb-intro h1 {
  font-family: "Clicker Script", cursive;
  color: #ff847c;
  padding: 20px 10px;
  font-weight: 400;
  font-size: 80px;
}
#groom-bride .gb-intro p {
  color: #7f7f7f;
  font-weight: 600;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.8;
  font-size: 18px;
  margin: 30px 20px 50px 20px;
}
#groom-bride .bg-main {
  width: 100%;
  margin-top: 100px;
  padding: 80px 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#groom-bride .bg-main .bg-card {
  width: calc(100% * 4 / 12);
  border-radius: 3px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 10px 60px;
  position: relative;
}
#groom-bride .bg-main .bg-card .bg-card-img {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}
#groom-bride .bg-main .bg-card .bg-card-img img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 4px solid white;
}
#groom-bride .bg-main .bg-card .bg-card-content {
  height: 100%;
  width: 100%;
  padding: 80px 30px 20px 30px;
}
#groom-bride .bg-main .bg-card .bg-card-content h1 {
  font-family: "Clicker Script", cursive;
  color: #ff847c;
  padding: 60px 10px 20px 10px;
  font-weight: 400;
  font-size: 40px;
}
#groom-bride .bg-main .bg-card .bg-card-content p {
  color: #ff847c;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  line-height: 1.8;
  font-size: 20px;
  margin: 30px;
}
#groom-bride .bg-main .bg-card .bg-card-content .bg-social {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}
#groom-bride .bg-main .bg-card .bg-card-content .bg-social a {
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  margin: 0 10px;
  font-size: 30px;
}
#groom-bride .bg-main .bg-card .bg-card-content .bg-social a i {
  color: #ff847c;
}
#groom-bride .bg-main .bg-card .bg-card-content .bg-social a:hover i {
  color: #ffa8a0;
}

@media only screen and (max-width: 650px) {
  #groom-bride .bg-main {
    flex-direction: column;
  }
  #groom-bride .bg-main .bg-card {
    width: 100%;
    margin: 50px auto;
  }
  #groom-bride .bg-main .bg-card .bg-card-img img {
    width: 180px;
    height: 180px;
  }
  #groom-bride .bg-main .bg-card .bg-card-content h1 {
    font-size: 30px;
  }
  #groom-bride .bg-main .bg-card .bg-card-content p {
    margin-left: 0;
    margin-right: 0;
    line-height: 1.6;
    font-size: 18px;
  }
  #groom-bride .bg-main .bg-card .bg-card-content .bg-social a {
    font-size: 25px;
  }
}
#greetings {
  background: url("./assets/img/greeting-bg.jpg") rgba(0, 0, 0, 0.4) no-repeat fixed center/cover;
  background-blend-mode: multiply;
}
#greetings .grt-intro {
  padding-top: 200px;
}
#greetings .grt-intro h1 {
  font-family: "Clicker Script", cursive;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.8;
  color: white;
}
#greetings .grt-main {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 200px;
}
#greetings .grt-main .grt {
  width: calc(100% * 4 / 12);
  margin: 10px 20px 40px 20px;
}
#greetings .grt-main .grt blockquote {
  position: relative;
  background-color: white;
  padding: 40px;
  border-radius: 4px;
  font-size: 18px;
}
#greetings .grt-main .grt blockquote p {
  font-style: italic;
  font-family: "Source Sans Pro", sans-serif;
  color: #7f7f7f;
}
#greetings .grt-main .grt blockquote::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 40px;
  border-top: 15px solid black;
  border-top-color: #fff;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}
#greetings .grt-main .grt span {
  display: block;
  color: white;
  font-size: 20px;
  margin-top: 30px;
  margin-right: calc(100% * 8 / 12);
}

@media only screen and (max-width: 650px) {
  #greetings .grt-intro {
    padding-top: 200px;
  }
  #greetings .grt-intro h1 {
    font-size: 30px;
    line-height: 1.4;
  }
  #greetings .grt-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #greetings .grt-main .grt {
    width: 100%;
    margin: 10px 10px 40px 10px;
  }
  #greetings .grt-main .grt blockquote {
    width: 100%;
    padding: 20px;
    font-size: 18px;
  }
  #greetings .grt-main .grt span {
    display: block;
    padding-right: calc(100% * 8 / 12);
    width: 100%;
  }
}
#people {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#people .people-info {
  width: calc(100% * 5 / 12);
  height: 200px;
  padding: 50px;
  text-align: center;
}
#people .people-info h1 {
  font-family: "Clicker Script", cursive;
  color: #ff847c;
  font-weight: 400;
  font-size: 75px;
}
#people .people-info img {
  max-width: 100px;
  max-height: 100px;
}

@media only screen and (max-width: 650px) {
  #people {
    flex-direction: column;
    text-align: center;
  }
  #people .people-info {
    width: 100%;
    margin: 50px auto;
  }
  #people .people-info h1 {
    font-size: 50px;
  }
}
#location {
  width: 100%;
  margin-top: 50px;
}
#location .location-intro h1 {
  font-family: "Clicker Script", cursive;
  color: #ff847c;
  font-weight: 400;
  font-size: 80px;
}
#location .location-main {
  padding: 10px 50px;
  background: url("./assets/img/location-img.jpg") rgba(0, 0, 0, 0.4) no-repeat fixed center/cover;
  background-blend-mode: multiply;
  width: calc(100% * 8 / 12);
  margin: 20px auto;
}
#location .location-main .location-main-content {
  width: 100%;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
}
#location .location-main .location-main-content p {
  font-family: "Clicker Script", cursive;
  padding: 0 20px;
  font-size: 30px;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic;
}
#location .location-main .location-main-content .time {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 20px auto;
  text-align: center;
}
#location .location-main .location-main-content .time .date {
  width: calc(100% * 5 / 12);
  padding: 40px 60px;
  font-weight: 400;
  margin: 20px auto;
  font-size: 25px;
}
#location .location-main .location-main-content .time .date span {
  text-align: center;
  display: block;
}
#location .location-main .location-main-content .time .heart {
  width: calc(100% * 2 / 12);
  font-size: 60px;
}

@media only screen and (max-width: 650px) {
  #location .location-intro h1 {
    font-size: 60px;
  }
  #location .location-main {
    padding: 10px 0;
    width: 100%;
  }
  #location .location-main .location-main-content {
    padding: 0;
  }
  #location .location-main .location-main-content p {
    padding: 0;
    font-size: 25px;
  }
  #location .location-main .location-main-content .time .date {
    padding: 0;
    font-size: 18px;
  }
  #location .location-main .location-main-content .time .heart {
    font-size: 30px;
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  position: relative;
  margin: auto;
  padding: 0;
  width: 50%;
  animation: animatetop 0.4s;
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}
.close {
  position: absolute;
  top: -10px;
  right: 10px;
  color: white;
  float: right;
  font-size: 60px;
  font-weight: bold;
  transition: all 0.3s ease-in-out 0s;
}

.close:hover,
.close:focus {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px;
  background-color: #ff847c;
  color: white;
  font-family: "Clicker Script", cursive;
  text-align: center;
}
.modal-header h2 {
  font-size: 60px;
}

.modal-body form {
  height: 300px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: url("./assets/img/inv-bg.jpg") rgba(0, 0, 0, 0.4) no-repeat fixed center/cover;
  background-blend-mode: multiply;
  background-attachment: "initial";
  font-family: "Source Sans Pro", sans-serif;
}
.modal-body form .form__input {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 16px;
  padding: 20px 10px;
  border: none;
  width: 80%;
}
.modal-body form .form__input::placeholder {
  color: white;
}
.modal-body form .form__input:focus {
  outline-width: 0;
  border: 2px solid #ff847c;
  background: rgba(255, 255, 255, 0.2);
}
.modal-body form button {
  background-color: #ff847c;
  color: white;
  border: none;
  padding: 20px 40px;
  outline-width: 0;
}

#invite {
  background-color: #ff847c;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  border: none;
  padding: 20px 40px;
  font-size: 30px;
  display: block;
  margin: 10px auto;
  outline-width: 0;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media only screen and (max-width: 650px) {
  .close {
    top: -5px;
    font-size: 40px;
  }

  .modal-header h2 {
    margin: 30px 10px 10px;
    font-size: 30px;
  }
}
footer {
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer p {
  color: #7f7f7f;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
}
footer p span,
footer p a {
  color: #ff847c;
}
footer .social {
  display: flex;
  justify-content: center;
  align-items: center;
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 10px;
}
footer .social a {
  display: inline-block;
  margin: 0 5px;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  margin: 0 10px;
}
footer .social a i {
  color: #ff847c;
}
footer .social a:hover i {
  color: #ffa8a0;
}

#btnToTop {
  visibility: hidden;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: #ff847c;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
  transition: all 0.3s ease-in-out 0s;
}

#btnToTop:hover {
  color: white;
  background-color: #ffa8a0;
}

.slide-in {
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
  transform: translateY(60%) scale(0.95);
  transition-duration: 1s;
}

.active {
  opacity: 1;
  transform: translateY(0%) scale(1);
}

.fade-in {
  animation: fadeIn ease-in-out 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
